* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0,
        'wght' 300,
        'grad' -25,
        'opsz' 20;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    width: 90%;
}

.container #header {
    background-color: #eeeeee;
    padding: 0.75rem;
}

.container #header .brand {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 0.75rem;
    padding-bottom: 0.25rem;
    border-bottom: solid medium #000000;

}

.container #header .button-container {
    display: flex;
    justify-content: flex-end;
}

.container #header .button-container #get-breeds {
    display: flex;
    align-items: center;
    border: none;
    margin: 0 0.5rem 0.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    background-color: #2c3333;
    color: #e7f6f2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container #header .button-container #get-breeds .in-sync {
    animation: spin 0.5s infinite linear;
}

.container #header .button-container #get-breeds:hover,
.container #header .button-container #get-breeds:active,
.container #header .button-container #get-breeds:visited {
    background-color: #371b58;
    color: #dbdffd;
    border: none;
}

.container #main {
    margin-top: 1rem;
    padding: 0.75rem;
}

.container #main #breeds-dictionary {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container #main #breeds-dictionary #breeds-index {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* 
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 */

.container #main #breeds-dictionary #breeds-index .index-title {
    background-color: #effffd;
    border-bottom: solid thin #0a0a0a;
    padding: 0 0.25rem 0.25rem;
    margin-bottom: 0.75rem;
}

.container #main #breeds-dictionary #breeds-index .index-list {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 0 0.5rem 0.75rem;
    margin: 0 1rem;
    column-gap: 3rem;
    max-height: 25vh;
}

.container #main #breeds-dictionary #breeds-index .index-list .index-list-item .link:active,
.container #main #breeds-dictionary #breeds-index .index-list .index-list-item .link:visited,
.container #main #breeds-dictionary #breeds-index .index-list .index-list-item .link:link {
    padding: 0.05rem 0.25rem;
    color: #0a0a0a;
    border-radius: 0.15rem;
}

.container #main #breeds-dictionary #breeds-index .index-list .index-list-item .link:hover {
    color: #c4d7e0;
    background-color: #371b58;
}

/* #c4d7e0; */

.container #main #breeds-dictionary #breeds-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container #main #breeds-dictionary #breeds-container .breeds-title {
    background-color: #ffeeee;
    border-bottom: solid thin #0a0a0a;
    padding: 0 0.25rem 0.25rem;
    margin-bottom: 0.75rem;
}

.container #main #breeds-dictionary #breeds-container .breeds {
    display: flex;
    flex-direction: column;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container {
    margin: 0 2rem 1.75rem;
    border-top: solid medium #0a0a0a;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .letter-title {
    padding: 0 0.5rem;
    background-color: #eeeeee;
    border-bottom: solid thin #0a0a0a;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .breed-list {
    padding: 0 1rem;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .goto-index {
    text-align: end;
    margin: 0.75rem 0.5rem 0.75rem 0;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .goto-index .link:link,
.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .goto-index .link:active,
.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .goto-index .link:visited {
    padding: 0.05rem 0.25rem;
    color: #0a0a0a;
}

.container #main #breeds-dictionary #breeds-container .breeds .alphabetic-container .goto-index .link:hover {
    color: #c4d7e0;
    background-color: #371b58;
    border-radius: 0.25rem;
}

/* Pantallas medianas a grandes */
@media screen and (min-width: 576px) {
    .container #main #breeds-dictionary #breeds-index .index-list  {
        height: 10vh;
    }

    .container #main #breeds-dictionary #breeds-container .breeds {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        justify-content: center;
    }
}

