* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border: medium solid brown;
    border-radius: 0.5em;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}